[submodule "portal"]
	path = portal
	url = https://github.com/n1ji/portal.git
[submodule "it121-w25"]
	path = it121-w25
	url = https://github.com/n1ji/it121-w25.git
[submodule "it211-staging-area"]
	path = it211-staging-area
	url = https://github.com/n1ji/it211-staging-area.git
[submodule "dealersPact"]
	path = dealersPact
	url = https://github.com/n1ji/dealersPact.git
[submodule "it211-s25"]
	path = it211-s25
	url = https://github.com/n1ji/it211-s25.git
[submodule "it122-s25"]
	path = it122-s25
	url = https://github.com/n1ji/it122-s25.git
