body {
    background: #303e44;
    animation: colorchange 10s infinite;
    /* Flexbox centering */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    min-height: 100vh;
    margin: 0;
    color:azure;
    font-family: Impact, sans-serif;
}

h1 {
    font-size: 48px;
    margin: 0;
    padding: 2%;
    text-decoration: underline;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #d7b8ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

#submodule-list {
    list-style-type: circle; /* Keep bullets for the top-level list */
    padding-left: 20px; /* Add indentation for the top-level list */
    margin: 0;
    display: flex; /* Make the top-level <ul> flex container */
    flex-direction: row; /* Display top-level <li> horizontally */
    justify-content: center; /* Center the top-level <li> horizontally */
    flex-wrap: wrap; /* Allow wrapping if there are many items */
    gap: 20px; /* Add spacing between top-level <li> elements */
}

#submodule-list > li {
    list-style-type: disc;
    flex-direction: column; /* Stack nested content vertically */
    align-items: flex-start; /* Align nested content to the left */
    padding-right: 30px;
}

/* Style for nested <ul> (submodules) */
#submodule-list ul {
    list-style-type: circle; /* Keep bullets for nested lists */
    padding-left: 40px; /* Add indentation for nested lists */
    margin: 10px 0 0 0; /* Add spacing between top-level <li> and nested <ul> */
}

/* Style for nested <li> */
#submodule-list ul li {
    display: list-item; /* Ensure nested <li> elements are displayed as list items */
}

a {
    color: #d7b8ff;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.5;
}

/* Background Color Cycling */
@keyframes colorchange {
    0%   {background: #303e44;}
    16.6%  {background: #2f3144;}
    33.2%  {background: #392f44;}
    49.8%  {background: #442f42;}
    66.4%  {background: #2f443c;}
    83%  {background: #293837;}
    100% {background: #303e44;}
}

@-webkit-keyframes colorchange {
    0%   {background: #303e44;}
    16.6%  {background: #2f3144;}
    33.2%  {background: #392f44;}
    49.8%  {background: #442f42;}
    66.4%  {background: #2f443c;}
    83%  {background: #293837;}
    100% {background: #303e44;}
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}